nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

nav .navbar-brand .aqua {
    color: #DC143C;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.custom-border {
    border: 1px solid #dc3545;
}

.custom-focus:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
}

.username-feedback {
    display: none;
    width: 100%;
    margin: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

@media only screen and (max-width: 800px) {
	#unseen table td:nth-child(2),
	#unseen table th:nth-child(2) {display: none;}
}
