{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <td>Symbol</td>
                    <td>Shares</td>
                    <td>Price</td>
                    <td>Transacted</td>
                </tr>
            </thead>

            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction[0] }}</td>
                        <td>{{ transaction[1] }}</td>
                        <td>{{ usd(transaction[2]) }}</td>
                        <td>{{ transaction[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}