{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    {% if transactions %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <td><strong>Symbol</strong></td>
                        <td><strong>Shares</strong></td>
                        <td><strong>Price</strong></td>
                        <td><strong>Transacted</strong></td>
                    </tr>
                </thead>

                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction[0] }}</td>
                            <td>{{ transaction[1] }}</td>
                            <td>{{ usd(transaction[2]) }}</td>
                            <td>{{ transaction[3] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No transactions found.</p>
    {% endif %}

{% endblock %}